FollowMusicFlow.json
[
    {
        "id": "5c18ddad.70a674",
        "type": "comment",
        "z": "7610734d.dd2d0c",
        "name": "Follow me music",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "30393ede.600a52",
        "type": "server-state-changed",
        "z": "7610734d.dd2d0c",
        "name": "Follow music",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.follow_music",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 220,
        "wires": [
            [
                "42126fdc.6598b"
            ],
            []
        ]
    },
    {
        "id": "42126fdc.6598b",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Host",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.follow_host",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "f16a635d.c5da",
                "ddf69c8c.b9",
                "dcc74bf5.c085e8",
                "2577323c.b9fa9e"
            ]
        ]
    },
    {
        "id": "f16a635d.c5da",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "5a4eed2a.4d6494",
        "compatibilityMode": false,
        "command": "player.join.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "f276807d.eedfb"
            ]
        ]
    },
    {
        "id": "f276807d.eedfb",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Cave occupancy",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.cave_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 860,
        "y": 240,
        "wires": [
            [],
            [
                "6958ba18.6f57a4"
            ]
        ]
    },
    {
        "id": "6958ba18.6f57a4",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "5a4eed2a.4d6494",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "on",
        "stateType": "str",
        "name": "",
        "x": 1100,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ddf69c8c.b9",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "9c4d66db.73d008",
        "compatibilityMode": false,
        "command": "player.join.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "e40a8bac.a95158"
            ]
        ]
    },
    {
        "id": "e40a8bac.a95158",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Bed occupancy",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.bedroom_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 840,
        "y": 300,
        "wires": [
            [],
            [
                "c20375f8.3cf8a8"
            ]
        ]
    },
    {
        "id": "c20375f8.3cf8a8",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "9c4d66db.73d008",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "on",
        "stateType": "str",
        "name": "",
        "x": 1090,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "dcc74bf5.c085e8",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "8ee2438a.aada9",
        "compatibilityMode": false,
        "command": "player.join.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "a65cd571.8b6b68"
            ]
        ]
    },
    {
        "id": "a65cd571.8b6b68",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Sitting occupancy",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.sitting_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 850,
        "y": 360,
        "wires": [
            [],
            [
                "9ec443c9.20fc1"
            ]
        ]
    },
    {
        "id": "9ec443c9.20fc1",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "8ee2438a.aada9",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "on",
        "stateType": "str",
        "name": "",
        "x": 1090,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2577323c.b9fa9e",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "ab7f909e.8c9dd",
        "compatibilityMode": false,
        "command": "player.join.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "9c4e9a50.5f1e38"
            ]
        ]
    },
    {
        "id": "9c4e9a50.5f1e38",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Kit occupancy",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.cave_occupancy",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 840,
        "y": 420,
        "wires": [
            [],
            [
                "c1619af0.ef7ad8"
            ]
        ]
    },
    {
        "id": "c1619af0.ef7ad8",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "ab7f909e.8c9dd",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "on",
        "stateType": "str",
        "name": "",
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b080314.4674ed",
        "type": "server-state-changed",
        "z": "7610734d.dd2d0c",
        "name": "Cave",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.cave_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 520,
        "wires": [
            [
                "97be4f55.6c47e"
            ]
        ]
    },
    {
        "id": "97be4f55.6c47e",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Follow music?",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.follow_music",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "20f4833f.0a428c"
            ],
            []
        ]
    },
    {
        "id": "20f4833f.0a428c",
        "type": "function",
        "z": "7610734d.dd2d0c",
        "name": "",
        "func": "let state\n\nif (msg.payload === \"on\"){\n    state = \"off\"\n} else if (msg.payload === \"off\"){\n    state = \"on\"\n} else {\n    state = \"help\"\n}\n\nmsg.payload = state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 520,
        "wires": [
            [
                "791c611b.e6af1"
            ]
        ]
    },
    {
        "id": "791c611b.e6af1",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "5a4eed2a.4d6494",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f30e66ea.2397e8",
        "type": "server-state-changed",
        "z": "7610734d.dd2d0c",
        "name": "Bed",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.bedroom_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 580,
        "wires": [
            [
                "12ca4ffa.fc296"
            ]
        ]
    },
    {
        "id": "58ee0f77.16a2e",
        "type": "server-state-changed",
        "z": "7610734d.dd2d0c",
        "name": "Kit",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.kitchen_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 640,
        "wires": [
            [
                "d7d1cd10.76c3e"
            ]
        ]
    },
    {
        "id": "80b4b857.285398",
        "type": "server-state-changed",
        "z": "7610734d.dd2d0c",
        "name": "Sitting",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.sitting_occupancy",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 110,
        "y": 700,
        "wires": [
            [
                "f44d7e62.b8eee"
            ]
        ]
    },
    {
        "id": "52928b16.3e0de4",
        "type": "function",
        "z": "7610734d.dd2d0c",
        "name": "",
        "func": "let state\n\nif (msg.payload === \"on\"){\n    state = \"off\"\n} else if (msg.payload === \"off\"){\n    state = \"on\"\n} else {\n    state = \"help\"\n}\n\nmsg.payload = state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "dd53ce1f.0dd4e"
            ]
        ]
    },
    {
        "id": "dd53ce1f.0dd4e",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "9c4d66db.73d008",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a49cc857.16f848",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "ab7f909e.8c9dd",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "aaf1ce7.b59da3",
        "type": "function",
        "z": "7610734d.dd2d0c",
        "name": "",
        "func": "let state\n\nif (msg.payload === \"on\"){\n    state = \"off\"\n} else if (msg.payload === \"off\"){\n    state = \"on\"\n} else {\n    state = \"help\"\n}\n\nmsg.payload = state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "a49cc857.16f848"
            ]
        ]
    },
    {
        "id": "a2f1a619.e159b8",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "8ee2438a.aada9",
        "compatibilityMode": false,
        "command": "player.set.mutestate",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 680,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4d3ce7cb.76d578",
        "type": "function",
        "z": "7610734d.dd2d0c",
        "name": "",
        "func": "let state\n\nif (msg.payload === \"on\"){\n    state = \"off\"\n} else if (msg.payload === \"off\"){\n    state = \"on\"\n} else {\n    state = \"help\"\n}\n\nmsg.payload = state\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "a2f1a619.e159b8"
            ]
        ]
    },
    {
        "id": "12ca4ffa.fc296",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Follow Music",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.follow_music",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "52928b16.3e0de4"
            ],
            []
        ]
    },
    {
        "id": "d7d1cd10.76c3e",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Follow Music",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.follow_music",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "aaf1ce7.b59da3"
            ],
            []
        ]
    },
    {
        "id": "f44d7e62.b8eee",
        "type": "api-current-state",
        "z": "7610734d.dd2d0c",
        "name": "Follow Music",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.follow_music",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 310,
        "y": 700,
        "wires": [
            [
                "4d3ce7cb.76d578"
            ],
            []
        ]
    },
    {
        "id": "e80b5eaa.32177",
        "type": "server-state-changed",
        "z": "7610734d.dd2d0c",
        "name": "Follow music",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.follow_music",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 780,
        "wires": [
            [],
            [
                "1e15daf2.909d65",
                "b0b04c56.70618",
                "a73f54e2.7ac958",
                "e407a3e7.2d59d"
            ]
        ]
    },
    {
        "id": "1e15daf2.909d65",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "5a4eed2a.4d6494",
        "compatibilityMode": false,
        "command": "player.leave.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 350,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b0b04c56.70618",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "ab7f909e.8c9dd",
        "compatibilityMode": false,
        "command": "player.leave.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 350,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a73f54e2.7ac958",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "8ee2438a.aada9",
        "compatibilityMode": false,
        "command": "player.leave.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 350,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e407a3e7.2d59d",
        "type": "sonos-universal",
        "z": "7610734d.dd2d0c",
        "confignode": "9c4d66db.73d008",
        "compatibilityMode": false,
        "command": "player.leave.group",
        "state": "",
        "stateType": "str",
        "name": "",
        "x": 350,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "cb3d56d5.2b87d8",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "5a4eed2a.4d6494",
        "type": "sonos-config",
        "name": "Cave",
        "serialnum": "78-28-CA-CA-89-32:D",
        "ipaddress": "192.168.0.111"
    },
    {
        "id": "9c4d66db.73d008",
        "type": "sonos-config",
        "name": "Bedroom",
        "serialnum": "78-28-CA-A6-20-34:A",
        "ipaddress": "192.168.0.112"
    },
    {
        "id": "8ee2438a.aada9",
        "type": "sonos-config",
        "name": "Sitting Room",
        "serialnum": "B8:E9:37:9C:CC:4A:D",
        "ipaddress": "192.168.0.113"
    },
    {
        "id": "ab7f909e.8c9dd",
        "type": "sonos-config",
        "name": "Kitchen",
        "serialnum": "34-7e-5c-31-3b-9e:1",
        "ipaddress": "192.168.0.114"
    }
]