HueLabs.json
[
    {
        "id": "8b619fb2.f2db4",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_light",
        "data": "{\"brightness\":255,\"rgb_color\":[255,255,255],\"transition\":6}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 361.1111068725586,
        "y": 1795.555591583252,
        "wires": [
            [
                "2e7ed6ba.ce909a"
            ]
        ]
    },
    {
        "id": "f716bc52.9c9cf",
        "type": "inject",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 218.77777099609375,
        "y": 1719.6666259765625,
        "wires": [
            [
                "8b619fb2.f2db4"
            ]
        ]
    },
    {
        "id": "4c8b9fdd.fb43a",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_light",
        "data": "{\"brightness\":20,\"rgb_color\":[200,200,255],\"transition\":6}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 591.1110916137695,
        "y": 1876.6666793823242,
        "wires": [
            [
                "7b734889.9e5c28"
            ]
        ]
    },
    {
        "id": "7b734889.9e5c28",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 401.11109924316406,
        "y": 1958.8888454437256,
        "wires": [
            [
                "8b619fb2.f2db4"
            ]
        ]
    },
    {
        "id": "2e7ed6ba.ce909a",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 562.2222290039062,
        "y": 1796.6666221618652,
        "wires": [
            [
                "4c8b9fdd.fb43a"
            ]
        ]
    },
    {
        "id": "56887048.a60ca",
        "type": "comment",
        "z": "10b507a.1d3b9f8",
        "name": "Slow Breathing",
        "info": "",
        "x": 203.3333282470703,
        "y": 1672.222188949585,
        "wires": []
    },
    {
        "id": "ffa3a725.a5f508",
        "type": "api-current-state",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.cave_light",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 354.4444236755371,
        "y": 2154.4442205429077,
        "wires": [
            [
                "102a5908.f95077",
                "7d3ddb8b.0b0f44"
            ]
        ]
    },
    {
        "id": "102a5908.f95077",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_light",
        "data": "{\"brightness\":255,\"rgb_color\":[255,255,255]}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 624.4443702697754,
        "y": 2160.0000467300415,
        "wires": [
            []
        ]
    },
    {
        "id": "7d3ddb8b.0b0f44",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 578.8888473510742,
        "y": 2221.110589981079,
        "wires": [
            [
                "acf0d972.39c8c8"
            ]
        ]
    },
    {
        "id": "87b0e167.882ed",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave_light",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 951.1111183166504,
        "y": 2222.2221364974976,
        "wires": [
            []
        ]
    },
    {
        "id": "739d2680.c2ca58",
        "type": "inject",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 191.1110954284668,
        "y": 2099.9998140335083,
        "wires": [
            [
                "ffa3a725.a5f508"
            ]
        ]
    },
    {
        "id": "acf0d972.39c8c8",
        "type": "function",
        "z": "10b507a.1d3b9f8",
        "name": "Color",
        "func": "msg.payload =\n{\n    \"data\": {\n        \"rgb_color\": msg.data.attributes.rgb_color,\n        \"brightness\": msg.data.attributes.brightness\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 759.9999809265137,
        "y": 2228.8884315490723,
        "wires": [
            [
                "87b0e167.882ed"
            ]
        ]
    },
    {
        "id": "53060fbf.5d845",
        "type": "comment",
        "z": "10b507a.1d3b9f8",
        "name": "Bright then return",
        "info": "",
        "x": 192.2222137451172,
        "y": 2039.9998779296875,
        "wires": []
    },
    {
        "id": "e6d5b77b.6905c8",
        "type": "comment",
        "z": "10b507a.1d3b9f8",
        "name": "Workout Lights",
        "info": "",
        "x": 130,
        "y": 622,
        "wires": []
    },
    {
        "id": "272ac65e.ae484a",
        "type": "inject",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 141,
        "y": 666,
        "wires": [
            [
                "6da0a6b2.c871a8"
            ]
        ]
    },
    {
        "id": "6da0a6b2.c871a8",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 309,
        "y": 669,
        "wires": [
            [
                "5d04e86b.f78a38",
                "d14c83a9.7726b"
            ]
        ]
    },
    {
        "id": "5d04e86b.f78a38",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 471,
        "y": 734,
        "wires": [
            [
                "6f705cc0.354a94"
            ]
        ]
    },
    {
        "id": "6f705cc0.354a94",
        "type": "looptimer",
        "z": "10b507a.1d3b9f8",
        "duration": "5",
        "units": "Second",
        "maxloops": "3",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "",
        "x": 639,
        "y": 736,
        "wires": [
            [
                "d6db752c.d94988"
            ],
            [
                "92ad562e.a35bb8",
                "c0f02fb8.3f1b9"
            ]
        ]
    },
    {
        "id": "d6db752c.d94988",
        "type": "function",
        "z": "10b507a.1d3b9f8",
        "name": "Colour Green",
        "func": "msg.payload =\n{\n    \"data\": {\n        \"rgb_color\":[0,255,0]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 819,
        "y": 731,
        "wires": [
            [
                "cf3bc8ed.523f68"
            ]
        ]
    },
    {
        "id": "cf3bc8ed.523f68",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave",
        "data": "{\"brightness\":255}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1006,
        "y": 728,
        "wires": [
            [
                "dadda786.9f4f58"
            ]
        ]
    },
    {
        "id": "dadda786.9f4f58",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1184,
        "y": 729,
        "wires": [
            [
                "216b15ab.08964a"
            ]
        ]
    },
    {
        "id": "c5f3bfe6.b9b1d",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1154,
        "y": 792,
        "wires": [
            []
        ]
    },
    {
        "id": "216b15ab.08964a",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave",
        "data": "{\"brightness\":15}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 975,
        "y": 790,
        "wires": [
            [
                "c5f3bfe6.b9b1d"
            ]
        ]
    },
    {
        "id": "92ad562e.a35bb8",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.cave",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 553,
        "y": 887,
        "wires": [
            [
                "92b23547.41e858"
            ]
        ]
    },
    {
        "id": "92b23547.41e858",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 741,
        "y": 892,
        "wires": [
            [
                "8e52fcf8.febfd"
            ]
        ]
    },
    {
        "id": "8e52fcf8.febfd",
        "type": "looptimer",
        "z": "10b507a.1d3b9f8",
        "duration": "5",
        "units": "Second",
        "maxloops": "3",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "",
        "x": 535,
        "y": 995,
        "wires": [
            [
                "eb7d52e2.4fe12"
            ],
            [
                "7c0389dd.077388",
                "6e9f1c12.81be94"
            ]
        ]
    },
    {
        "id": "eb7d52e2.4fe12",
        "type": "function",
        "z": "10b507a.1d3b9f8",
        "name": "Colour blue",
        "func": "msg.payload =\n{\n    \"data\": {\n        \"rgb_color\":[0,0,255]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 715,
        "y": 990,
        "wires": [
            [
                "cc0e3d52.77358"
            ]
        ]
    },
    {
        "id": "cc0e3d52.77358",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave",
        "data": "{\"brightness\":255}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 902,
        "y": 987,
        "wires": [
            [
                "d9953bfd.f2fa48"
            ]
        ]
    },
    {
        "id": "d9953bfd.f2fa48",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1080,
        "y": 988,
        "wires": [
            [
                "5a624b3f.6fb254"
            ]
        ]
    },
    {
        "id": "1c921812.f59668",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1050,
        "y": 1051,
        "wires": [
            []
        ]
    },
    {
        "id": "5a624b3f.6fb254",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave",
        "data": "{\"brightness\":15}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 871,
        "y": 1049,
        "wires": [
            [
                "1c921812.f59668"
            ]
        ]
    },
    {
        "id": "7c0389dd.077388",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.cave",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 528,
        "y": 1163,
        "wires": [
            [
                "262d29d6.a8d7f6"
            ]
        ]
    },
    {
        "id": "262d29d6.a8d7f6",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 716,
        "y": 1168,
        "wires": [
            [
                "315c54d7.b4572c"
            ]
        ]
    },
    {
        "id": "315c54d7.b4572c",
        "type": "looptimer",
        "z": "10b507a.1d3b9f8",
        "duration": "5",
        "units": "Second",
        "maxloops": "3",
        "maxtimeout": "1",
        "maxtimeoutunits": "Hour",
        "name": "",
        "x": 510,
        "y": 1271,
        "wires": [
            [
                "50af0a90.6c4964"
            ],
            [
                "301fd79b.ad9ff8"
            ]
        ]
    },
    {
        "id": "50af0a90.6c4964",
        "type": "function",
        "z": "10b507a.1d3b9f8",
        "name": "Colour red",
        "func": "msg.payload =\n{\n    \"data\": {\n        \"rgb_color\":[255,0,0]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1266,
        "wires": [
            [
                "f75f072d.617428"
            ]
        ]
    },
    {
        "id": "f75f072d.617428",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave",
        "data": "{\"brightness\":255}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 877,
        "y": 1263,
        "wires": [
            [
                "d5c332e4.9115d"
            ]
        ]
    },
    {
        "id": "d5c332e4.9115d",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1055,
        "y": 1264,
        "wires": [
            [
                "3c3d66f6.97fb0a"
            ]
        ]
    },
    {
        "id": "93146b63.7d8b38",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1025,
        "y": 1327,
        "wires": [
            []
        ]
    },
    {
        "id": "3c3d66f6.97fb0a",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.cave",
        "data": "{\"brightness\":15}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 846,
        "y": 1325,
        "wires": [
            [
                "93146b63.7d8b38"
            ]
        ]
    },
    {
        "id": "301fd79b.ad9ff8",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.cave",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 547,
        "y": 1432,
        "wires": [
            [
                "27f8aab2.072c46"
            ]
        ]
    },
    {
        "id": "27f8aab2.072c46",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 735,
        "y": 1437,
        "wires": [
            [
                "29ca9a7d.320eb6"
            ]
        ]
    },
    {
        "id": "29ca9a7d.320eb6",
        "type": "counter",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 915,
        "y": 1439,
        "wires": [
            [
                "ee272dc0.3c0d"
            ]
        ]
    },
    {
        "id": "ee272dc0.3c0d",
        "type": "switch",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1078,
        "y": 1440,
        "wires": [
            [
                "6da0a6b2.c871a8"
            ],
            [
                "6fc589a0.1a0588"
            ]
        ]
    },
    {
        "id": "d14c83a9.7726b",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_cave_dot",
        "entityId": "",
        "data": "{\"message\":\"Sit Ups\",\"data\":{\"type\":\"announce\"},\"target\":\"{{service}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 643,
        "y": 654,
        "wires": [
            []
        ]
    },
    {
        "id": "c0f02fb8.3f1b9",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_cave_dot",
        "entityId": "",
        "data": "{\"message\":\"Press Ups\",\"data\":{\"type\":\"announce\"},\"target\":\"{{service}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 762,
        "y": 844,
        "wires": [
            []
        ]
    },
    {
        "id": "6e9f1c12.81be94",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_cave_dot",
        "entityId": "",
        "data": "{\"message\":\"Squats\",\"data\":{\"type\":\"announce\"},\"target\":\"{{service}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 678,
        "y": 1122,
        "wires": [
            []
        ]
    },
    {
        "id": "6fc589a0.1a0588",
        "type": "api-call-service",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "server": "a28759b3.590c58",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "alexa_media_cave_dot",
        "entityId": "",
        "data": "{\"message\":\"You're Finished! Well done!\",\"data\":{\"type\":\"announce\"},\"target\":\"{{service}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 634,
        "y": 1542,
        "wires": [
            [
                "fda2f599.da3fa8"
            ]
        ]
    },
    {
        "id": "fda2f599.da3fa8",
        "type": "hue-magic",
        "z": "10b507a.1d3b9f8",
        "name": "Strobo",
        "endless": true,
        "restore": false,
        "preset": "013-strobo",
        "steps": "[{\"delay\":500,\"animation\":{\"color\":\"random\",\"brightness\":100,\"transitionTime\":0}},{\"delay\":500,\"animation\":{\"color\":\"random\",\"brightness\":100,\"transitionTime\":0}},{\"delay\":500,\"animation\":{\"color\":\"random\",\"brightness\":100,\"transitionTime\":0}}]",
        "x": 918,
        "y": 1549,
        "wires": [
            [
                "b59efd06.82b0b"
            ]
        ]
    },
    {
        "id": "b59efd06.82b0b",
        "type": "hue-light",
        "z": "10b507a.1d3b9f8",
        "name": "Cave Light",
        "bridge": "656f4af0.b4aaf4",
        "lightid": "16",
        "colornamer": true,
        "skipevents": false,
        "x": 1072,
        "y": 1549,
        "wires": [
            [
                "1b610de4.70bc72"
            ]
        ]
    },
    {
        "id": "1b610de4.70bc72",
        "type": "delay",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 994,
        "y": 1606,
        "wires": [
            [
                "9deaadb.3d6b55"
            ]
        ]
    },
    {
        "id": "9deaadb.3d6b55",
        "type": "change",
        "z": "10b507a.1d3b9f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 896,
        "y": 1686,
        "wires": [
            [
                "fda2f599.da3fa8"
            ]
        ]
    },
    {
        "id": "a28759b3.590c58",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "656f4af0.b4aaf4",
        "type": "hue-bridge",
        "z": "",
        "name": "Philips hue",
        "bridge": "192.168.0.121",
        "key": "xIf7HoCAb1Sjuk3bhBtbcyMdn3sEJDUa6MNgkArZ",
        "interval": "3000"
    }
]
