SocialHours.json
[
    {
        "id": "61c03ac6.de56d4",
        "type": "inject",
        "z": "161d34ed.c178cb",
        "name": "",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 1780,
        "wires": [
            [
                "ce0c474c.46c418",
                "2d9e51d7.36b7ae"
            ]
        ]
    },
    {
        "id": "ce0c474c.46c418",
        "type": "api-current-state",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_datetime.social_start",
        "state_type": "str",
        "state_location": "starttime",
        "override_payload": "flow",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 390,
        "y": 1740,
        "wires": [
            [
                "8dc279a1.86f448"
            ]
        ]
    },
    {
        "id": "8dc279a1.86f448",
        "type": "within-time-switch",
        "z": "161d34ed.c178cb",
        "name": "",
        "nameInt": "",
        "positionConfig": "b954ab15.fd5738",
        "startTime": "starttime",
        "startTimeType": "flow",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "endtime",
        "endTimeType": "flow",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 700,
        "y": 1760,
        "wires": [
            [
                "2875ed48.7bff52"
            ],
            [
                "8f4fef3c.dbd32"
            ]
        ]
    },
    {
        "id": "2875ed48.7bff52",
        "type": "api-call-service",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.social_hours",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1024,
        "y": 1727,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9e51d7.36b7ae",
        "type": "api-current-state",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_datetime.social_end",
        "state_type": "str",
        "state_location": "endtime",
        "override_payload": "flow",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 391,
        "y": 1796,
        "wires": [
            [
                "8dc279a1.86f448"
            ]
        ]
    },
    {
        "id": "8f4fef3c.dbd32",
        "type": "api-call-service",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.social_hours",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1015,
        "y": 1783,
        "wires": [
            []
        ]
    },
    {
        "id": "8a7eac94.2c759",
        "type": "api-current-state",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_number.low_battery_level",
        "state_type": "str",
        "state_location": "value",
        "override_payload": "msg",
        "entity_location": "level",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 338,
        "y": 1986,
        "wires": [
            [
                "e3a479c9.9fca38"
            ]
        ]
    },
    {
        "id": "e3a479c9.9fca38",
        "type": "switch",
        "z": "161d34ed.c178cb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "value",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 543,
        "y": 2055,
        "wires": [
            [
                "fb34dd2b.1caf4",
                "df031733.f582f8"
            ]
        ]
    },
    {
        "id": "fb34dd2b.1caf4",
        "type": "ha-wait-until",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "outputs": 1,
        "entityId": "input_boolean.social_hours",
        "entityIdFilterType": "exact",
        "property": "state",
        "comparator": "is",
        "value": "on",
        "valueType": "str",
        "timeout": 0,
        "timeoutType": "num",
        "timeoutUnits": "seconds",
        "entityLocation": "",
        "entityLocationType": "none",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "x": 693,
        "y": 2073,
        "wires": [
            [
                "a6a6d37c.c651"
            ]
        ]
    },
    {
        "id": "a6a6d37c.c651",
        "type": "api-call-service",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_will_surridges_iphone",
        "entityId": "",
        "data": "{\"message\":\"Your {{data.new_state.attributes.friendly_name}}is Low!\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 778,
        "y": 2131,
        "wires": [
            []
        ]
    },
    {
        "id": "697612a8.21689c",
        "type": "server-state-changed",
        "z": "161d34ed.c178cb",
        "name": "",
        "server": "36a52212.74ceee",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.dining_room_switch_battery_level",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 243,
        "y": 1925,
        "wires": [
            [
                "8a7eac94.2c759"
            ]
        ]
    },
    {
        "id": "df031733.f582f8",
        "type": "debug",
        "z": "161d34ed.c178cb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 694,
        "y": 2005,
        "wires": []
    },
    {
        "id": "29d3aae0.42ee76",
        "type": "comment",
        "z": "161d34ed.c178cb",
        "name": "Social Hours",
        "info": "",
        "x": 105,
        "y": 1659,
        "wires": []
    },
    {
        "id": "f1002cf3.26e37",
        "type": "comment",
        "z": "161d34ed.c178cb",
        "name": "Dining Room Battery",
        "info": "",
        "x": 139,
        "y": 1884,
        "wires": []
    },
    {
        "id": "36a52212.74ceee",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "b954ab15.fd5738",
        "type": "position-config",
        "z": "",
        "name": "",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    }
]
