UKTransport.json
[
    {
        "id": "62bd8b8f0e80200d",
        "type": "inject",
        "z": "79cb638c.fe770c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2120,
        "wires": [
            [
                "142c03d1f736bd7c",
                "7d929ec8c3f48d1f"
            ]
        ]
    },
    {
        "id": "142c03d1f736bd7c",
        "type": "api-current-state",
        "z": "79cb638c.fe770c",
        "name": "",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.central",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "central",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 2120,
        "wires": [
            [
                "91fcd6dbc835ac15"
            ]
        ]
    },
    {
        "id": "91fcd6dbc835ac15",
        "type": "api-current-state",
        "z": "79cb638c.fe770c",
        "name": "",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.piccadilly",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "piccadilly",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "piccadilly_data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 630,
        "y": 2120,
        "wires": [
            [
                "0c9eb520a2945603"
            ]
        ]
    },
    {
        "id": "7d929ec8c3f48d1f",
        "type": "api-current-state",
        "z": "79cb638c.fe770c",
        "name": "",
        "server": "cb3d56d5.2b87d8",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.next_bus_to_peckham",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "bus",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 2200,
        "wires": [
            [
                "57661721e800f349"
            ]
        ]
    },
    {
        "id": "0c9eb520a2945603",
        "type": "api-call-service",
        "z": "79cb638c.fe770c",
        "name": "",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "debugenabled": false,
        "service_domain": "persistent_notification",
        "service": "create",
        "entityId": "",
        "data": "{\"message\":\"There is {{central}} on the central line, and {{piccadilly}} on the piccadilly line\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 940,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "57661721e800f349",
        "type": "change",
        "z": "79cb638c.fe770c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "next",
                "pt": "msg",
                "to": "data.attributes.next_buses[0].estimated",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 2200,
        "wires": [
            [
                "d7289826fe26add2"
            ]
        ]
    },
    {
        "id": "d7289826fe26add2",
        "type": "api-call-service",
        "z": "79cb638c.fe770c",
        "name": "",
        "server": "cb3d56d5.2b87d8",
        "version": 3,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "mobile_app_will_surridges_iphone",
        "entityId": "",
        "data": "{\"message\":\"Your next bus is the {{next}} - RUN!\"}",
        "dataType": "json",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 860,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "cb3d56d5.2b87d8",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
